<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->


<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio" name="payment[method]" class="radio" data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()" />
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() -->
        <!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() -->
            <!-- /ko -->
            <!--/ko-->
        </div>
        <!-- <p data-bind="html: getInstructions()"></p> -->
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() -->
            <!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout" type="submit" data-bind="
                        click: placeOrder,
                        attr: {title: $t('Lanjutkan Pembayaran Dengan Doku')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                    disabled>
                    <span data-bind="i18n: 'Lanjutkan Pembayaran Dengan Doku'"></span>
                </button>
            </div>
        </div>
    </div>
</div>


<div class="wrapper doku-payment" style="display:none">
    <div class="step-container">
        <div class="step-header">
            <div class="payment-image back-nav-pay">
                <span class="pay-icons back-icon" alt="back"></span>
                <span style="
                    display: inline-block;
                    vertical-align: text-bottom;
                    font-weight: bold;
                    color: #bbb;
                    padding-left: 10px;
                ">Kembali</span>
            </div>
        </div>
        <div class="step-body" id="payment-body">

        </div>
        <div class="doku-form" id="doku-form">
            <form action="http://localhost:3000/" method="POST" id="payment-form">
                <div doku-div='form-payment'>
                    <input id="doku-token" name="doku-token" type="hidden" />
                    <input id="doku-installment-acquirer" name="doku-installment-acquirer" type="hidden" />
                    <input id="doku-plan-id" name="doku-plan-id" type="hidden" />
                    <input id="doku-tenor" name="doku-tenor" type="hidden" />
                    <input id="doku-pairing-code" name="doku-pairing-code" type="hidden" /> </div>
            </form>
        </div>
        <script id="ins-form" class="hidden" type="template">
            <div class="mid-form">
            <label for="bank">Bank</label>
            <select id="bank" name="bank" style="border-radius: 3px;height: 40px;">

            </select>
            <label for="tenor" style="margin-top: 10px;display: block;">Pilihan Cicilan</label>
            <select id="tenor" name="tenor" style="border-radius: 3px;height: 40px;">

            </select>
        </div>
        <center>
            <a class="button" href="#" id="insnext">Lanjutkan
                    <svg height="14px" fill="#b90a29" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"></path>
                    </svg></a></center><br/><br/>
                
        </script>
        <script id="loading-form" class="hidden" type="template">
            <div class="blank-padding"><center>Silahkan tunggu</center></div>
        </script>
        <script id="error-form" class="hidden" type="template">
                <div class="blank-padding">
                    <span style="color:#f00;text-align:center;" id="message">Error please try again</span>
                    <input type="button" class="back-button" value="Pilih metode pembayaran lain">
                </div>
        </script>
        <script id="offline-form" class="hidden" type="template">
                <div id="offline">
        <h4>Menunggu Pembayaran</h4>
        <div class="orderoffline"> Nomor pesanan anda <span class="order" id="invoice">345678</span></div>
        <div class="countdown">
        <span>Kode bayar akan berakhir pada</span><br/>
        <div id="timmer">232323</div>
        <span >Mohon menyelesaikan pembayaran sebelum </span> <span id="timeoutText">10:00 AM 08 Nov 2018</span>
    </div>
    <div id="total">    
    </div>
        <div class="codebox">
            <div class="offlineitem">
                <div class="offlinelogo">
                    <img src="<?php echo $this->getViewFileUrl('Doku_Snap::css/alfamart.png'); ?>" />
                </div>
                <div class="offlinetext">
                    <div class="row" style="display:inline-grid">
                        <div class="col1">
                            Alfamart Kode bayar
                        </div>
                        <div class="col2" id="codealfamart">
                            
                        </div>
                    </div>                
                </div>
            </div>
            <div class="offlineitem">
                    <div class="offlinelogo">
                        <img src="<?php echo $this->getViewFileUrl('Doku_Snap::css/indomart.png'); ?>" />
                    </div>
                    <div class="offlinetext">
                        <div class="row">
                            <div class="col1">
                                Indomart Kode bayar
                            </div>
                            <div class="col2" id="codeindomart">
                                
                            </div>
                        </div>                    
                    </div>
                </div>
    
        </div>
        <span>
            Silahkan cek email Anda, Kode bayar sudah dikirim ke 
        </span> <br/>
        <span id="email">luklukaha@gmail.com</span>
        <div class="panduan">
        <h4>Panduan Pembayaran</h4>
        <ul class="payment-instruction-list"><li class="payment-instruction-item">1. Tunjukkan kepada kasir Kode Bayar yang di terima di email anda
    </li><li class="payment-instruction-item">2. Simpan tanda terima pembayaran sebagai bukti pembayaran
    </li><li class="payment-instruction-item">3. Kode pembayaran hanya berlaku selama 24 jam setelah pesanan dibuat
    </li><li class="payment-instruction-item">4. Pesanan Anda akan diverifikasi secara otomatis setelah pembayaran berhasil </li></ul>
    </div>
    </div>
    <a class="button">Lanjutkan Belanja</a>
    </div>
    
            </script>
            <script id="va-form" class="hidden" type="template">
                    <div id="offline">
            <h4>Menunggu Pembayaran</h4>
            <div class="orderoffline"> Nomor pesanan anda <span class="order" id="invoice">345678</span></div>
            <div class="countdown">
            <span>Kode bayar akan berakhir pada</span><br/>
            <div id="timmer">232323</div>
            <span >Mohon menyelesaikan pembayaran sebelum </span> <span id="timeoutText">10:00 AM 08 Nov 2018</span>
        </div>
        <div id="total">    
        </div>
            <div class="codebox">
                <div class="offlineitem">
                    <div class="offlinelogo">
                        <!--<img src="https://laz-img-cdn.alicdn.com/tfs/TB1JR1do8fH8KJjy1XbXXbLdXXa-80-80.png"/>-->
                    </div>
                    <div class="offlinetext">
                        <div class="row">
                            <div class="col1">
                                Kode bayar
                            </div>
                            <div class="col2" id="code">
                                
                            </div>
                        </div>                
                    </div>
                </div>
                
        
            </div>
            <span>
                Silahkan cek email Anda, Kode bayar sudah dikirim ke 
            </span> <br/>
            <span id="email">luklukaha@gmail.com</span>
            <div class="panduan">
            <h4>Panduan Pembayaran</h4>
            <ul class="payment-instruction-list"><li class="payment-instruction-item">1. Tunjukkan kepada kasir Kode Bayar yang di terima di email anda
        </li><li class="payment-instruction-item">2. Simpan tanda terima pembayaran sebagai bukti pembayaran
        </li><li class="payment-instruction-item">3. Kode pembayaran hanya berlaku selama 24 jam setelah pesanan dibuat
        </li><li class="payment-instruction-item">4. Pesanan Anda akan diverifikasi secara otomatis setelah pembayaran berhasil </li></ul>
        </div>
        </div>
        <a class="button">Lanjutkan Belanja</a>
        </div>
        
                </script>
        
            <form method="post" action="../example/mandiri-clickpay-charge.php" class="doku-form" id="ib-form" > <div id="mandiriclickpay" class="channel">
<div class="list-chacode"> <ul>
<li>
<div class="text-chacode">Challenge Code 1</div>
<input type="text" id="CHALLENGE_CODE_1" name="CHALLENGE_CODE_1"
readonly="true" required/>
<div class="clear"></div>
</li> <li>
<div class="text-chacode">Challenge Code 2</div>
<div class="num-chacode">0000100000</div>
<input type="hidden" name="CHALLENGE_CODE_2" value="0000100000"/> <div class="clear"></div>
</li> <li>
<div class="text-chacode">Challenge Code 3</div> <div class="num-chacode" id="challenge_div_3"></div> <input type="hidden" name="CHALLENGE_CODE_3"
id="CHALLENGE_CODE_3" value=""/>
<div class="clear"></div>
</li>
<div class="clear"></div> </ul>
</div>
<div class="validasi">
<div class="styled-input fleft width50">
<input type="text" required="" name="response_token"> <label>Respon Token</label>
</div>
<div class="clear"></div> </div>
<input type="hidden" name="invoice_no" value="invoice_1458547984">
<input type="button" value="Process Payment" class="default-btn" onclick="this.form.submit();">
</div>
</form>
        
    </div>
</div>