@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
.doku-payment {
  color: #333333;
  font-family: "Roboto", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  /* width: 200px; */
  z-index: 1000;
}

.doku-payment .step-container {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  margin: 80px auto;
  max-width: 540px;
  overflow: hidden;
}

.doku-payment .step-header {
  padding: 20px;
  text-align: center;
  position: relative;
}
.doku-payment .step-title {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
  /* margin-bottom: 20px; */
}

.doku-payment .payment {
  height: 55px;
  position: relative;
  /* vertical-align: middle; */
  padding: 5px;
}
.doku-payment .payment-image {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: auto;
  z-index: 2;
}
.pay-icons {
    background-image: url(icons.png);
    background-size: 160px 430px;
    background-repeat: no-repeat;
    display: block;
}
.cc-icon {
    background-position: 0px -32px;
    width: 40px;
    height: 40px;
}
.ccins-icon {
    background-position: 0px -305px;
    width: 40px;
    height: 40px;
}
.wallet-icon {
    background-position: -40px -190px;
    width: 40px;
    height: 40px;
}
.offline-icon {
    background-position: -80px -190px;
    width: 40px;
    height: 40px;
}
.va-icon {
    background-position: 0px -392px;
    width: 40px;
    height: 40px;
}
.ib-icon {
    background-position: -40px -112px;
    width: 40px;
    height: 40px;
}
.doku-payment .payment-label {
  border-top: 1px solid #dedede;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  letter-spacing: 1px;
  padding: 0 0 0 85px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-transform: uppercase;
}

.doku-payment .payment-label:hover {
  background: #eeeeee;
}
.doku-payment .payment-option {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  top: 50%;
  right: 40px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  transition: all .2s ease-in;
  opacity: 0;
  outline: none;
  z-index: 2;
}
.doku-payment .payment-option:checked {
  right: 20px;
  opacity: 1;
}
.doku-payment .payment-option:checked + .payment-label {
  background: #eeeeee;
}

.doku-payment .payment-option:checked:after {
  width: 20px;
}

.back-button, .doku-payment .button {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #b90a29;
    border-radius: 3px;
    color: #b90a29;
    font-size: 18px;
    padding: 14px 10px;
    cursor: pointer;
    font-family: 'din-reg', arial;
    margin: 10px auto 20px;
    display: block;
    width: fit-content;
}
.doku-payment .button:hover {
  background: #5485D4;
}

.list-payment-logo {
    float: left;
    width: 50px;
    /* text-align: center; */
}

.list-content {
    vertical-align: middle;
    float: right;
}
label.payment-label2 {
    padding: 30px 0 0 85px;
    position: absolute;
    top: 0px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #666;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}
.back-icon {
    background-position: 0 0;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: text-top;
}
.back-nav-pay {
    cursor: pointer;
}


#offline {
  text-align: center;
  width: 80%;
  margin: auto;
  padding-bottom: 20px;
}
#offline h4 {
    font-size: 1.6em;
    margin: 0 auto 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
#offline .orderoffline .order {
  font-weight: bold;
}
#offline .countdown {
  margin: 10px 0 20px;
}
#offline .countdown #timmer {
  font-size: 2em;
  color: #eb272a;
}
#offline .offlineitem {
  border: 1px solid #ddd;
  position: relative;
  height: 100px;
  margin: 0 auto 20px;
}
#offline .offlineitem .offlinetext #codeindomart,
#offline .offlineitem .offlinetext #codealfamart,
#offline .offlineitem .offlinetext #code {
    font-weight: bold;
    font-size: 1.2em;
}
#offline .panduan {
  margin: 20px 0;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}
#offline .panduan h4 {
  font-size: 1.6rem;
  margin: 0 auto 10px;
}
#offline .panduan .payment-instruction-list {
  list-style-type: none;
  text-align: left;
  padding-left: 0;
}

.offlinelogo {
/* position: absolute; */
/* top: 0px; */
/* left: 0px; */
float: left;
padding: 5px;
width: 100px;
}

.offlinetext {
float: left;
margin-left: 10px;
text-align: left;
}

.col1 {
float: left;
width: 200px;
}

div#codealfamart {
float: left;
}

.row {
width: 100%;
/* height: 100px; */
padding: 20px;
}
.blank-padding {
  padding: 100px;
}

.mid-form{
  padding: 20px;
}

.fancybox-overlay .fancybox-wrap .fancybox-skin .fancybox-outer .fancybox-inner {
    overflow: auto;
    width: auto!important;
    height: auto!important;
    padding: 20px 0 0!important;
}