.doku-form a {
    color: #b90a29
}

.doku-form a:hover {
    color: #780300
}

.doku-form img {
    border: none
}

.doku-form ol,
.doku-form ul {
    list-style: none outside none;
    padding: 0;
    margin: auto
}

.doku-form p {
    color: #666;
    font-size: 13px;
    line-height: 18px;
    margin: auto;
    text-align: justify
}

.doku-form table {
    border: 1px solid #dadada;
    font-size: 12px;
    width: 100%;
    border-collapse: collapse;
    background-color: #fff
}

.doku-form tr,
.doku-form td {
    margin: auto;
    padding: 0
}

.doku-form input {
    border: none;
    -webkit-appearance: none
}

.doku-form input[type="checkbox"] {
    -webkit-appearance: checkbox
}

.doku-form .wrapper-select,
.doku-form .styled-select {
    background: url(https://staging.doku.com/doku-js/assets/images/down_arrow_select.png) no-repeat scroll right center transparent;
    overflow: hidden;
    width: 170px
}

.doku-form select,
.doku-form .styled-select select {
    -webkit-appearance: none;
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    overflow: hidden;
    width: 190px
}

.doku-form #choice option {
    color: #000
}

.doku-form .empty {
    color: gray
}

.doku-form .clear {
    clear: both
}

.doku-form .radius {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

.doku-form .fleft {
    float: left
}

.doku-form .fright {
    float: right
}

.doku-form .padd-default {
    padding: 20px;
    position: relative
}

.doku-form @font-face {
    font-family: 'din';
    src: url(https://staging.doku.com/doku-js/assets/fonts/din_light-webfont.eot);
    src: url(https://staging.doku.com/doku-js/assets/fonts/din_light-webfont.eot?#iefix) format("embedded-opentype"), url(https://staging.doku.com/doku-js/assets/fonts/din_light-webfont.woff) format("woff"), url(https://staging.doku.com/doku-js/assets/fonts/din_light-webfont.ttf) format("truetype"), url(https://staging.doku.com/doku-js/assets/fonts/din_light-webfont.svg#din_light-webfont) format("svg");
    font-weight: 400;
    font-style: normal
}

.doku-form @font-face {
    font-family: 'din-reg';
    src: url(https://staging.doku.com/doku-js/assets/fonts/dinnextltproregular.eot);
    src: url(https://staging.doku.com/doku-js/assets/fonts/dinnextltproregular.eot?#iefix) format("embedded-opentype"), url(https://staging.doku.com/doku-js/assets/fonts/dinnextltproregular.woff) format("woff"), url(https://staging.doku.com/doku-js/assets/fonts/dinnextltproregular.ttf) format("truetype"), url(https://staging.doku.com/doku-js/assets/fonts/dinnextltproregular.svg#din_light-webfont) format("svg");
    font-weight: 400;
    font-style: normal
}

.doku-form .font-reg {
    font-family: 'din-reg', arial
}

.doku-form ::-moz-placeholder {
    opacity: 0
}

.doku-form ::-webkit-input-placeholder {
    opacity: 0
}

.doku-form :-ms-input-placeholder {
    opacity: 0
}

.doku-form input:-moz-placeholder {
    opacity: 0
}

.doku-form .default-width {
    background: #fff none repeat scroll 0 0;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 0 12px #f2f2f2;
    margin: 0 auto;
    width: 500px
}

.doku-form .right-head {
    font-family: din-reg
}

.doku-form .text-totalpay {
    font-size: 11px;
    text-align: right
}

.doku-form .amount {
    font-size: 34px
}

.doku-form .select-payment-channel {
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 12px 20px
}

.doku-form .select-payment-channel select,
.doku-form select.resp-tabDrop,
.doku-form .promocontent-dw select {
    color: #6a6a6a;
    font-size: 18px;
    padding: 0 15px 0 0;
    font-family: 'din-reg'
}

.doku-form .content-payment-channel ul li {
    margin: 5px 0 0
}

.doku-form .line {
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 20px
}

.doku-form .default-btn {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #b90a29;
    border-radius: 3px;
    color: #b90a29;
    font-size: 18px;
    margin-top: 20px;
    padding: 14px 10px;
    width: 100%;
    cursor: pointer;
    font-family: 'din-reg', arial
}

.doku-form a.default-btn {
    display: block;
    text-align: center;
    text-decoration: none;
    width: auto
}

.doku-form .default-btn:hover {
    background: #b90a29;
    color: #fff
}

.doku-form .two-btn {
    margin-top: 20px
}

.doku-form .two-btn input.default-btn,
.doku-form .two-btn a.default-btn {
    float: left;
    font-size: 15px;
    margin: 0 2%;
    padding: 3%;
    width: 40%
}

.doku-form .second-btn {
    border-color: #606c80;
    color: #606c80
}

.doku-form .second-btn:hover {
    background: #606c80;
    color: #fff
}

.doku-form .two-btn input.default-btn {
    width: 45%
}

.doku-form .two-btn a.default-btn {
    padding: 3.2% 3%
}

.doku-form .styled-input input,
.doku-form .styled-input select,
.doku-form .styled-input input.identified.valid,
.doku-form .styled-input input.valid {
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 40px;
    padding: 0 3%;
    width: 93%;
    font-family: "din-reg", arial;
    font-size: 15px
}

.doku-form .styled-input select {
    width: 100%
}

.doku-form .width60 {
    width: 68%
}

.doku-form .width50 {
    width: 49%
}

.doku-form .width30 {
    width: 30%
}

.doku-form .width25 {
    width: 23%
}

.doku-form .width30.styled-input input {
    padding: 0 8%;
    width: 83%
}

.doku-form .wrapper-secondstyle-inputbtn input.textinput {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 12px;
    padding: 7px 10px;
    width: 50%
}

.doku-form .wrapper-secondstyle-inputbtn input.default-btn {
    font-size: 12px;
    margin-top: 0;
    padding: 6px 0;
    width: 100px
}

.doku-form .wrapper-othermaterial label {
    color: #6a6a6a;
    font-size: 15px;
    padding: 10px 0 0
}

.doku-form .right-paychan {
    position: absolute;
    right: 20px;
    top: -40px
}

.doku-form .logo-payment-channel {
    background: url(https://staging.doku.com/doku-js/assets/images/logo-payment.png) no-repeat scroll 0 0 transparent;
    display: block;
    height: 30px;
    display: inline-block
}

.doku-form .cc {
    background-position: 0 0;
    width: 110px
}

.doku-form .dokuwallet {
    background-position: -110px 0;
    width: 94px
}

.doku-form .bcaklikpay {
    background-position: -204px 0;
    width: 131px
}

.doku-form .mandiriclickpay {
    background-position: -335px 0;
    width: 56px
}

.doku-form .atm {
    background-position: -391px 0;
    width: 126px
}

.doku-form .mm {
    background-position: -517px 0;
    width: 31px
}

.doku-form .epay {
    background-position: -548px 0;
    width: 90px
}

.doku-form .cimb {
    background-position: -638px 0;
    width: 96px
}

.doku-form .styled-select {
    border-radius: 0 3px 3px 0;
    border-right: 1px solid #ccc
}

.doku-form .styled-select select {
    width: 115%
}

.doku-form .content-payment-channel {
    padding-bottom: 30px
}

.doku-form .footer {
    color: #a0a0a0;
    font-size: 13px;
    margin-top: 25px;
    text-align: center
}

.doku-form .avatar-dw {
    top: -53px
}

.doku-form .avatar-dw img {
    border-radius: 40px;
    width: 45px
}

.doku-form .nameuser {
    height: 20px;
    margin: 12px 0 0 10px;
    max-width: 120px;
    overflow: hidden;
    text-align: right
}

.doku-form #select-paymentchannel option,
.doku-form .resp-tabDrop option {
    font-size: 14px
}

.doku-form input:focus~label,
.doku-form textarea:focus~label,
.doku-form input:valid~label,
.doku-form textarea:valid~label,
.doku-form .readonlycase~label {
    font-size: .75em;
    color: #b90a29;
    top: -13px;
    -webkit-transition: all .125s ease;
    transition: all .125s ease;
    padding: 0 5px;
    background: #fff
}

.doku-form .styled-input .readonlycase~label {
    color: #b90a29;
    font-size: .75em;
    top: -13px
}

.doku-form .styled-input {
    position: relative;
    margin-bottom: 15px
}

.doku-form .styled-input label {
    color: #999;
    position: absolute;
    top: 13px;
    left: 10px;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    pointer-events: none;
    font-size: 14px
}

.doku-form .styled-input.wide {
    width: 100%
}

.doku-form input~span,
.doku-form textarea~span {
    display: block;
    width: 0;
    height: 3px;
    background: #8e44ad;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all .125s ease;
    transition: all .125s ease
}

.doku-form input:focus,
.doku-form textarea:focus {
    outline: 0
}

.doku-form input:focus~span,
.doku-form textarea:focus~span {
    width: 100%;
    -webkit-transition: all .075s ease;
    transition: all .075s ease
}

.doku-form #dw-channel .list-wrap,
.doku-form .resp-content__active {
    padding: 20px;
    margin: 0
}

.doku-form #dw-channel ul {
    list-style: none
}

.doku-form #dw-channel ul li a {
    display: block;
    border-bottom: 1px solid #666;
    padding: 4px;
    color: #666
}

.doku-form #dw-channel .nav {
    overflow: hidden
}

.doku-form #dw-channel .nav li {
    float: left;
    margin: 0
}

.doku-form #dw-channel .nav li.last {
    margin-right: 0
}

.doku-form #dw-channel .nav li a,
.doku-form #dw-channel .resp-tablist li {
    display: block;
    padding: 0 25px 10px;
    color: #6a6a6a;
    font-size: 16px;
    text-align: center;
    border: 0;
    text-decoration: none
}

.doku-form #dw-channel li a.current,
.doku-form #dw-channel li a.current:hover,
.doku-form #dw-channel .resp-tablist li.resp-tablistItem__active,
.doku-form #dw-channel .resp-tablist li:hover {
    background-color: #fff !important;
    border-bottom: 2px solid #b90a29;
    color: #6a6a6a;
    cursor: pointer
}

.doku-form #dw-channel .nav li a:hover,
.doku-form #dw-channel .nav li a:focus {
    border-bottom: 2px solid #b90a29
}

.doku-form #dw-channel label.lxco {
    padding: 0;
    top: 0
}

.doku-form #dw-channel .exco-listcard .listcard {
    float: left;
    margin: 0 2%;
    width: 46%
}

.doku-form #dw-channel .resp-tablist li {
    display: inline
}

.doku-form .resp-content__active {
    margin-top: 15px
}

.doku-form .padd-dw {
    padding: 20px 0 0
}

.doku-form .saldo-dw {
    margin: 20px 0
}

.doku-form .textsaldo {
    color: #9a9a9a;
    font-size: 14px
}

.doku-form .saldo {
    color: #717171;
    font-size: 40px
}

.doku-form .exco-listcard input[type="radio"] {
    display: none
}

.doku-form ul.list-tabmenudw li {
    width: auto
}

.doku-form ul.list-tabmenudw li a {
    display: block
}

.doku-form .list-tabmenudw li:last-of-type {
    min-width: 1px !important;
    width: 1px !important
}

.doku-form .text-tabmenu {
    display: inline-block
}

.doku-form .exco-card .nunmber-cc .title-default {
    font-size: 18px
}

.doku-form .exco-card .default-contab {
    margin: 0
}

.doku-form .exco-listcard {
    margin: 0;
    display: block
}

.doku-form .exco-listcard .lxco {
    width: 100%;
    float: left;
    transition: all ease .3s;
    margin-right: 5px;
    border: 1px solid #dadada;
    border-radius: 4px;
    position: relative;
    cursor: pointer
}

.doku-form .lxco .wrapper-card-ex:after {
    position: absolute;
    border-radius: 50px;
    display: none;
    width: 25px;
    height: 25px;
    background: url(https://staging.doku.com/doku-js/assets/images/cek.png) no-repeat scroll center center #41dfbe;
    right: 10px;
    top: 10px;
    content: ''
}

.doku-form input[type="radio"]:checked+.lxco {
    border: 1px solid #41dfbe
}

.doku-form input[type="radio"]:checked+.lxco .wrapper-card-ex:after {
    display: block
}

.doku-form .type-cc {
    background: url(https://staging.doku.com/doku-js/assets/images/cc-top.png) no-repeat scroll 0 0 transparent;
    display: block;
    height: 30px;
    margin: 3px 10px;
    float: left
}

.doku-form .visa {
    background-position: 0 0;
    width: 60px
}

.doku-form .mastercard {
    background-position: -69px 0;
    width: 45px
}

.doku-form .wrapper-list-excc ul li {
    background-color: #FFF;
    border: 1px solid #EAEAEA;
    border-radius: 10px;
    width: 48%;
    border-bottom: 2px solid #E1E1E1;
    float: left;
    margin-bottom: 15px
}

.doku-form .type-exist input {
    float: left;
    margin: 15px 10px 0 12px
}

.doku-form .wrapper-card-ex {
    padding: 5px 0 0
}

.doku-form .type-exist {
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: 5px
}

.doku-form .default-contab {
    margin-top: 15px;
    margin-bottom: 25px
}

.doku-form .wrapper-cont-cc {
    background-color: #FAFBFB;
    border-radius: 0 0 3px 3px;
    padding: 15px 12px
}

.doku-form .title-wcc {
    color: #959494;
    font-size: 11px;
    margin: 5px 0
}

.doku-form .validthru {
    margin: 15px 0 0
}

.doku-form .validthru .title-wcc {
    float: left
}

.doku-form .text-tvt {
    color: #8D8D8D;
    float: left;
    font-size: 19px;
    margin-left: 10px
}

.doku-form .marg-right {
    margin-right: 2%
}

.doku-form .note-recur {
    border-bottom: 1px solid #FFF;
    font-size: 16px;
    margin-bottom: 15px;
    padding: 10px
}

.doku-form .text-noterecur-newcc {
    display: block;
    float: left;
    font-size: 13px;
    line-height: 16px;
    margin-left: 11px;
    padding-bottom: 4px;
    width: 94%
}

.doku-form .nr-ncc input {
    float: left
}

.doku-form .price-nrncc {
    font-size: 20px;
    line-height: 23px
}

.doku-form .wrapper-profile ul li span.quan-items {
    font-size: 16px
}

.doku-form .left-title-dbil {
    float: left
}

.doku-form .text-tdbil {
    border-radius: 3px;
    margin-top: 7px;
    padding: 8px 15px
}

.doku-form .arrow-detbil {
    margin-left: 45%
}

.doku-form .input-cvv-recur {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-radius: 0 3px 3px;
    padding: 10px
}

.doku-form .input-cvv-recur input {
    border: 1px solid #CCC;
    font-size: 16px;
    padding: 10px;
    width: 80%
}

.doku-form .text-cvv-recur {
    background-color: #FFF;
    border-radius: 3px 3px 0 0;
    display: inline-block;
    margin-bottom: 0;
    padding: 10px 20px
}

.doku-form .wrapper-cvv-recur {
    margin-top: 25px
}

.doku-form .num-card {
    color: #717171;
    font-size: 22px
}

.doku-form .img-cardlist {
    margin-left: 12px
}

.doku-form .img-desc {
    width: 100%
}

.doku-form .detail-result ul li,
.doku-form .show-points ul li,
.doku-form .option-codevoucher ul li {
    border-bottom: 1px solid #f4f4f4;
    font-size: 16px;
    padding: 13px 0
}

.doku-form .detail-result ul li:first-child {
    padding-top: 0
}

.doku-form .detail-result ul li:last-of-type {
    border: none
}

.doku-form .detail-result ul li .fleft,
.doku-form .text-titledw-promo {
    color: #6a6a6a;
    font-size: 16px
}

.doku-form .detail-result ul li .fright {
    color: #8e8e8e
}

.doku-form .detail-result ul li .fright.color-one {
    font-size: 20px
}

.doku-form .text-notif-result {
    font-size: 18px;
    margin: 6px 0 6px 10px
}

.doku-form .title-listpromo {
    color: #717171
}

.doku-form .amount-listpromo {
    font-size: 20px
}

.doku-form .ifusingpromo {
    padding: 0 10px;
    margin: 5px 0
}

.doku-form .promocontent-dw {
    display: none
}

.doku-form .textva {
    font-size: 14px;
    text-align: right
}

.doku-form .numva {
    font-size: 27px
}

.doku-form .cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden
}

.doku-form .cmn-toggle+label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.doku-form input.cmn-toggle-round-flat+label {
    padding: 2px;
    width: 120px;
    height: 60px;
    background-color: #ddd;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
    -webkit-transition: background .4s;
    -moz-transition: background .4s;
    -o-transition: background .4s;
    transition: background .4s
}

.doku-form input.cmn-toggle-round-flat+label:before,
.doku-form input.cmn-toggle-round-flat+label:after {
    display: block;
    position: absolute;
    content: ""
}

.doku-form input.cmn-toggle-round-flat+label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #fff;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
    -webkit-transition: background .4s;
    -moz-transition: background .4s;
    -o-transition: background .4s;
    transition: background .4s
}

.doku-form input.cmn-toggle-round-flat+label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 52px;
    background-color: #ddd;
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    -ms-border-radius: 52px;
    -o-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: margin 0.4s, background .4s;
    -moz-transition: margin 0.4s, background .4s;
    -o-transition: margin 0.4s, background .4s;
    transition: margin 0.4s, background .4s
}

.doku-form input.cmn-toggle-round-flat:checked+label {
    background-color: #41dfbe
}

.doku-form input.cmn-toggle-round-flat:checked+label:after {
    margin-left: 60px;
    background-color: #41dfbe
}

.doku-form .texttoggleform {
    margin-bottom: 5px;
    padding-top: 8px
}

.doku-form .toogle-medium input.cmn-toggle-round-flat+label::after {
    width: 27px
}

.doku-form .toogle-medium input.cmn-toggle-round-flat+label {
    width: 70px;
    height: 30px
}

.doku-form .toogle-medium input.cmn-toggle-round-flat:checked+label::after {
    margin-left: 38px
}

.doku-form .on-toggle {
    font-size: 15px;
    margin: 7px;
    position: absolute;
    color: #41dfbe
}

.doku-form .off-toggle {
    font-size: 14px;
    margin-left: 40px;
    color: #BCBCBC
}

.doku-form .text-poin {
    float: left
}

.doku-form .switch {
    float: right;
    margin-top: -20px
}

.doku-form .show-points {
    border-radius: 3px;
    display: block;
    padding: 15px 0 10px
}

.doku-form .text-poin {
    font-size: 15px;
    color: #000
}

.doku-form .left-sp {
    float: left;
    font-size: 15px;
    color: #717171
}

.doku-form .right-sp {
    float: right;
    font-size: 19px;
    color: #000
}

.doku-form .show-points ul li {
    padding: 10px 0 3px
}

.doku-form .show-points ul li:last-of-type {
    border-bottom: none;
    padding-bottom: 0
}

.doku-form .show-points ul li:last-of-type .right-sp {
    font-size: 24px
}

.doku-form .show-points ul li:last-of-type .left-sp {
    margin-top: 4px
}

.doku-form .remove-float {
    float: none
}

.doku-form .second-ep {
    font-size: 14px;
    color: #717171
}

.doku-form .wrapper-installment ul li {
    background: #F7F7F7 none repeat scroll 0 0;
    border-radius: 4px;
    float: left;
    margin: 1%;
    padding: 2%;
    width: 27%;
    position: relative;
    height: 50px
}

.doku-form .month-installment {
    font-size: 44px;
    position: absolute;
    right: 5px;
    top: 3px
}

.doku-form .text-installment {
    margin-top: 15px;
    text-align: right
}

.doku-form .wrapper-installment {
    margin-top: 15px
}

.doku-form .installment-con2 {
    background: #daf0ff none repeat scroll 0 0;
    border-radius: 3px;
    padding: 10px
}

.doku-form .note-installment {
    color: red;
    font-size: 13px;
    font-style: italic;
    padding: 7px 0 5px
}

.doku-form .desc {
    color: #8e8e8e;
    font-size: 13px;
    line-height: 18px;
    text-align: justify;
    margin-bottom: 20px
}

.doku-form .text-token {
    width: 90%
}

.doku-form .list-chacode ul li {
    float: left;
    text-align: center;
    width: 33%
}

.doku-form .text-chacode {
    color: #6a6a6a;
    font-size: 15px;
    margin-bottom: 10px
}

.doku-form .num-chacode {
    color: #1d2655;
    font-size: 16px
}

.doku-form .list-chacode {
    padding: 10px 0
}

.doku-form .title-recur {
    font-size: 20px;
    margin-top: 15px
}

.doku-form .recur-select ul.nav li {
    width: 50%
}

.doku-form .recur-select ul#addcc .logo-payment-channel {
    margin: 0 0 15px
}

.doku-form .recur-select ul#addcc .tolltips-cc {
    right: 10px;
    top: 66px
}

.doku-form .note-text {
    background: #F1F1F1 none repeat scroll 0 0;
    border-radius: 3px;
    margin-top: 25px;
    padding: 10px
}

.doku-form .note-text .text-noterecur-newcc {
    text-align: justify;
    color: #525252
}

.doku-form .padd-recuredit {
    padding: 0
}

.doku-form .padd-recuredit .exco-listcard .lxco {
    cursor: auto
}

.doku-form #dw-channel ul.exco-listcard li a {
    border-bottom: medium none;
    border-radius: 30px;
    cursor: pointer;
    display: block;
    margin-right: 9px;
    margin-top: 3px;
    padding: 7px 8px 3px
}

.doku-form .content-modal .exco-listcard {
    margin: 0 auto;
    text-align: left;
    width: 235px
}

.doku-form .resp-headings,
.doku-form .resp-tabDrop {
    display: none
}

.doku-form .bg-grad {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%) repeat scroll 0 0;
    display: block;
    height: 40px;
    position: sticky;
    width: 100%;
    z-index: 1000000;
    display: none;
    bottom: 0
}

.doku-form .padd-installment {
    padding: 5px 20px
}

.doku-form .head-textcenter .amount {
    color: #6a6a6a
}

.doku-form .option-codevoucher .promocontent-dw select {
    margin-top: 6px
}

.doku-form .option-codevoucher ul.list-material li:last-of-type {
    background: #b1ffe4 none repeat scroll 0 0;
    padding: 10px 0 0
}

.doku-form .lastlist-ifp {
    background: #fff none repeat scroll 0 0;
    margin-bottom: 0;
    padding: 14px 10px
}

.doku-form .lastlist-ifp .amount-listpromo {
    font-size: 25px
}

.doku-form .checkbox-custom,
.doku-form .radio-custom {
    opacity: 0;
    position: absolute
}

.doku-form .checkbox-custom,
.doku-form .checkbox-custom-label,
.doku-form .radio-custom,
.doku-form .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer
}

.doku-form .checkbox-custom-label,
.doku-form .radio-custom-label {
    position: relative
}

.doku-form .material-form .checkbox-custom+.checkbox-custom-label:before,
.doku-form .material-form .radio-custom+.radio-custom-label:before,
.doku-form .material-form .checkbox-custom+label+.checkbox-custom-label:before,
.doku-form .material-form .radio-custom+label+.radio-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 1px;
    margin-right: 10px;
    text-align: center
}

.doku-form .checkbox-custom:checked+.checkbox-custom-label:before,
.doku-form .checkbox-custom:checked+label+.checkbox-custom-label:before,
.doku-form .radio-custom:checked+label+.radio-custom-label:before {
    background: url(https://staging.doku.com/doku-js/assets/images/cek.png) no-repeat scroll 0 0 #41dfbe;
    color: #fff;
    border-color: #41dfbe
}

.doku-form .material-form label.checkbox-custom-label,
.doku-form .material-form label.radio-custom-label {
    border-bottom: 0 !important
}

.doku-form .radio-custom+.radio-custom-label:before,
.doku-form .radio-custom+label+.radio-custom-label:before {
    border-radius: 50%
}

.doku-form .radio-custom:checked+.radio-custom-label:before,
.doku-form .radio-custom:checked+label+.radio-custom-label:before {
    background: url(https://staging.doku.com/doku-js/assets/images/cek.png) no-repeat scroll 0 0 #41dfbe;
    border-color: #41dfbe
}

.doku-form .checkbox-custom:disabled+.checkbox-custom-label:before,
.doku-form .radio-custom:disabled+.radio-custom-label:before {
    background: #ddd;
    border-color: #ccc
}

.doku-form .option-codevoucher label.radio-custom-label {
    color: #717171;
    font-size: 15px;
    margin: 15px 0 0
}

.doku-form .option-codevoucher ul li {
    padding: 7px 0 0;
    margin-top: 0
}

.doku-form .wrapper-errorpage {
    text-align: center;
    color: #b90a29
}

.doku-form .iconerror {
    background: #b90a29 none repeat scroll 0 0;
    border-radius: 80px;
    margin-bottom: 15px;
    padding: 20px
}

.doku-form .texterror {
    font-size: 20px;
    padding-bottom: 25px
}

.doku-form .loading {
    font-size: 18px;
    text-align: center;
    padding-bottom: 25px
}

.doku-form .spinner {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto 25px
}

.doku-form .double-bounce1,
.doku-form .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #bf0227;
    opacity: .6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: bounce 2s infinite ease-in-out;
    animation: bounce 2s infinite ease-in-out
}

.doku-form .double-bounce2 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

.doku-form @-webkit-keyframes bounce {

    0%,
    100% {
        -webkit-transform: scale(0.0)
    }

    .doku-form 50% {
        -webkit-transform: scale(1.0)
    }

    .doku-form
}

@keyframes bounce {

    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0)
    }

    .doku-form 50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0)
    }

    .doku-form
}

.tooltip {
    display: inline;
    position: relative
}

.doku-form .tooltip:hover:after {
    background: #333;
    background: rgba(0, 0, 0, .8);
    border-radius: 5px;
    bottom: 40px;
    color: #fff;
    content: attr(title);
    left: -180px;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 200px;
    font-size: 12px
}

.doku-form .tooltip:hover:before {
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0;
    bottom: 35px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99
}

.doku-form .tolltips-wallet {
    left: 205px;
    position: absolute;
    top: 20px
}

.doku-form .tolltips-cc {
    right: 30px;
    position: absolute;
    top: 35px
}

.doku-form .validasi {
    background: #fffaeb none repeat scroll 0 0;
    margin: 20px -20px 0;
    padding: 10px 20px;
    position: relative
}

.doku-form .validasi .styled-input {
    margin-bottom: 0
}

.doku-form html.remodal_lock,
.doku-form body.remodal_lock {
    overflow: hidden
}

.doku-form .remodal-bg {
    -webkit-transition: -webkit-filter .2s linear;
    -moz-transition: -moz-filter .2s linear;
    -o-transition: -o-filter .2s linear;
    transition: filter .2s linear
}

.doku-form body.remodal_active .remodal-bg {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px)
}

.doku-form .remodal,
.doku-form [data-remodal-id] {
    visibility: hidden
}

.doku-form .remodal-overlay {
    display: none;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    text-align: center;
    opacity: 0;
    background: rgba(33, 36, 46, 0.95);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EE21242E, endColorstr=#EE21242E);
    zoom: 1;
    -webkit-transition: opacity .2s linear;
    -moz-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    transition: opacity .2s linear
}

.doku-form .remodal-overlay>* {
    -webkit-transform: translateZ(0px)
}

.doku-form .remodal-overlay:after {
    display: inline-block;
    height: 100%;
    margin-left: -.05em;
    content: '';
    vertical-align: middle
}

.doku-form body.remodal_active .remodal-overlay {
    opacity: 1
}

.doku-form .remodal {
    font-size: 16px;
    position: relative;
    display: inline-block;
    width: 70%;
    min-height: auto;
    padding: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    background: #fff;
    background-clip: padding-box;
    color: #8e8e8e;
    -webkit-box-shadow: 0 0 8px #171a24;
    box-shadow: 0 0 8px #171a24;
    border-radius: 3px;
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transition: -webkit-transform .2s linear;
    -moz-transition: -moz-transform .2s linear;
    -o-transition: -o-transform .2s linear;
    transition: transform .2s linear
}

.doku-form body.remodal_active .remodal {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
}

.doku-form .title-modal {
    border-bottom: 1px solid #f4f4f4;
    margin: 0 -15px;
    padding: 0 15px 10px;
    text-align: left
}

.doku-form .content-modal {
    margin: 20px 0
}

.doku-form .resmall {
    width: 30%
}

.doku-form .italiclink {
    font-style: italic;
    text-decoration: underline
}

.doku-form .color-one,
.doku-form .detail-result ul li .fright.color-one,
.doku-form #dw-channel .nav li a:hover,
.doku-form #dw-channel .nav li a:focus,
.doku-form #dw-channel li a.current,
.doku-form #dw-channel li a.current:hover,
.doku-form #dw-channel .resp-tablist li.resp-tablistItem__active,
.doku-form #dw-channel .resp-tablist li:hover {
    color: #b90a29
}

.doku-form .color-two {
    color: #5d5d5d
}

.doku-form .color-border {
    border-color: #f4f4f4
}

.doku-form .success {
    color: #11a88a
}

.doku-form .fail {
    color: #b70000
}

.doku-form .has-error input,
.doku-form .styled-input input.error,
.doku-form .styled-input input.cc-exp.valid,
.doku-form .styled-input input.unknown {
    border: 1px solid red
}

.doku-form #dw-channel ul.exco-listcard li a {
    background: #b90a29
}

.doku-form @media screen and (max-width: 650px) {
    .default-width {
        width: 95%
    }

    .doku-form .padd-default {
        padding: 10px
    }

    .doku-form .left-head img {
        width: 100px
    }

    .doku-form .text-totalpay {
        font-size: 10px
    }

    .doku-form .amount {
        font-size: 25px
    }

    .doku-form .wrapper-select {
        width: 100%
    }

    .doku-form .select-payment-channel select,
    .doku-form .wrapper-select select {
        width: 105%
    }

    .doku-form .right-paychan {
        position: relative;
        right: 0;
        top: 0;
        margin: 5px 0 10px
    }

    .doku-form .styled-input input,
    .doku-form .styled-input select,
    .doku-form .styled-input input.identified.valid,
    .doku-form .styled-input input.valid {
        border: none;
        border-bottom: 1px solid #ccc;
        border-radius: 0
    }

    .doku-form .styled-input label {
        left: 5px
    }

    .doku-form .tolltips-cc {
        top: 22%;
        right: 11px
    }

    .doku-form .has-error input,
    .doku-form .styled-input input.error,
    .doku-form .styled-input input.cc-exp.valid,
    .doku-form .styled-input input.unknown {
        border: none;
        border-bottom: 1px solid red
    }

    .doku-form input:focus~label,
    .doku-form textarea:focus~label,
    .doku-form input:valid~label,
    .doku-form textarea:valid~label {
        padding: 0
    }

    .doku-form .mobile-nofloat .fleft,
    .doku-form .mobile-nofloat .fright {
        float: none;
        width: 100%
    }

    .doku-form .list-chacode ul li {
        float: none;
        text-align: left;
        width: 100%;
        border-bottom: 1px solid #f4f4f4;
        padding: 8px 0
    }

    .doku-form .list-chacode .text-chacode {
        width: 50%;
        float: left;
        margin-bottom: 0
    }

    .doku-form .list-chacode .num-chacode {
        float: right
    }

    .doku-form .text-token {
        width: 85%;
        margin-bottom: 5px
    }

    .doku-form .validasi {
        margin: 20px -10px;
        padding: 10px
    }

    .doku-form .validasi .width50 {
        float: none;
        width: 100%
    }

    .doku-form .validasi .styled-input input {
        border: 1px solid #ccc;
        border-radius: 3px
    }

    .doku-form .tolltips-wallet {
        left: auto;
        right: 20px
    }

    .doku-form .remodal {
        width: 90%
    }

    .doku-form .mm,
    .doku-form .resp-tablist {
        display: none
    }

    .doku-form .resp-tabDrop {
        display: block
    }

    .doku-form #dw-channel .list-wrap,
    .doku-form .resp-content__active {
        margin: 0;
        padding: 15px 0
    }

    .doku-form .avatar-dw {
        position: absolute;
        right: 10px;
        text-align: right;
        top: -55px;
        width: 180px
    }

    .doku-form .avatar-dw .nameuser {
        float: right
    }

    .doku-form .selectdw {
        border-bottom: 1px solid #f4f4f4;
        margin: 0 -10px;
        padding: 0 10px 10px
    }

    .doku-form .toogle-medium input.cmn-toggle-round-flat:checked+label::after {
        margin-left: 34px
    }

    .doku-form .img-other {
        width: 100px
    }

    .doku-form .padd-installment {
        padding: 5px 10px
    }

    .doku-form .switch {
        margin-top: -13px
    }

    .doku-form .head-textcenter .fleft,
    .doku-form .head-textcenter .fright {
        float: none
    }

    .doku-form .head-textcenter .right-head {
        border-bottom: 1px solid #f4f4f4;
        border-top: 1px solid #f4f4f4;
        clear: both;
        float: none;
        margin: 10px -10px 0;
        padding: 10px 0;
        text-align: center
    }

    .doku-form .head-textcenter .amount {
        font-size: 20px;
        margin-top: 0
    }

    .doku-form #dw-channel .nav.navtwo li a {
        font-size: 14px;
        padding: 0 10px 10px
    }

    .doku-form
}

@media screen and (max-width: 360px) {
    .avatar-dw img {
        display: none
    }

    .doku-form #dw-channel .exco-listcard .listcard {
        float: none;
        margin: 0 auto 15px;
        width: 230px
    }

    .doku-form .wrapper-listcard {
        height: 180px;
        overflow: scroll;
        position: relative
    }

    .doku-form .bg-grad {
        display: block
    }

    .doku-form .bg-grad.fortop {
        top: 0;
        background: rgba(0, 0, 0, 0) linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%) repeat scroll 0 0
    }

    .doku-form .show-points ul li:last-of-type .left-sp {
        text-align: left;
        width: 135px
    }

    .doku-form .wrapper-installment ul li {
        width: 44%
    }

    .doku-form .text-noterecur-newcc {
        width: 90%;
        font-size: 12px;
        line-height: 14px
    }

    .doku-form .option-codevoucher ul li .fleft,
    .doku-form .option-codevoucher ul li .fright {
        float: none
    }

    .doku-form .option-codevoucher ul li {
        padding-bottom: 10px
    }

    .doku-form .title-listpromo {
        margin-bottom: 5px
    }

    .doku-form .resultpage .head .left-head.fleft,
    .doku-form .resultpage .head .right-head.fright,
    .doku-form .resultpage .head .right-head.fright img,
    .doku-form .resultpage .head .right-head.fright .fleft.text-notif-result {
        float: none;
        text-align: center
    }

    .doku-form .resultpage .head .right-head.fright {
        margin-top: 10px
    }

    .doku-form .resultpage .head .right-head.fright .textva {
        text-align: center
    }

    .doku-form
}

.dw-acc-exist {
    display: block;
    width: 100%;
    margin: 10px 0;
    height: auto;
    padding: 20px 0
}

.doku-form .ava-dw-exist {
    float: left;
    width: 80px;
    height: 80px;
    background: red;
    border-radius: 100px;
    overflow: hidden;
    margin-bottom: 10px
}

.doku-form .ava-dw-exist img {
    width: 100%;
    height: auto
}

.doku-form .info-dw {
    float: left;
    width: 75.9%;
    height: auto;
    border: 0 solid red;
    margin-left: 2%;
    position: relative
}

.doku-form .info-dw .info-dw-user {
    margin: 0 0 10px;
    color: #3a3a3a
}

.doku-form .info-dw .info-dw-label {
    font-size: 12px;
    margin: 5px 0;
    color: #9a9a9a
}

.doku-form .info-dw .info-dw-saldo {
    font-size: 24px;
    color: #3a3a3a
}

.doku-form .switch-dw {
    margin-top: 5px
}

.doku-form .switch-dw span,
.doku-form .switch-dw span {
    font-size: 12px;
    display: inline-block;
    vertical-align: middle
}

.doku-form .fancybox-outer {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
}